<p style="color: green"><%= notice %></p>

<% content_for :title, "Blog posts" %>

<div id="blog_posts" class="blog-posts">
  <%= render BlogComponent.new do |component| %>
    <% component.with_header do %>
      <%= link_to "My blog", root_path %>
    <% end %>

    <% BlogPost.all.each do |blog_post| %>
      <% component.with_post do %>
        <%= link_to blog_post.name, blog_post.url %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "New blog post", new_blog_post_path, class: 'btn btn-primary' %>
</div>
